:root {
  --primary-color: #1dbeb4;
  --secondo-color: rgb(87, 92, 160);
}

.main-container {
  padding: 70px 0px 50px 0px;
  background-color: #eeeeee;
  min-height: 100vh;
}

.disableScroll {
  overflow: hidden;
}

@media (max-width: 999px) {
  body {
    overflow: unset !important;
  }
}
